node_modules
*.env
.env
.env.*
client/.env
client/.env.*
server/.env
server/.env.*
!.env.example
!client/.env.example
!server/.env.example
dist
.DS_Store
npm-debug.log*
# environment files
.env
.env.*
!.env.example

# vscode history
.vscode/
.vscode/.history/

# node modules
node_modules/